$navColor: #ed5992;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1346px;
  margin: 0 auto;
}

/*header
===============================*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1392px;
  margin: 27px auto 47px auto;
  &__logo {
    margin-right: 178px;
  }
  .ant-tabs {
    flex: 1;
    &-ink-bar {
      background: $navColor;
    }
    &-nav {
      padding: 0 20px;
    }
    &-tab {
      padding: 12px 20px;
      &:hover {
        color: $navColor;
      }
      &-active {
        .ant-tabs-tab-btn {
          color: $navColor;
        }
      }
    }
  }
}

/*gallary
===============================*/

.gallary {
  display: grid;
  grid-template-columns: repeat(5, 248px);
  grid-template-rows: repeat(3 ,187px);
  grid-gap: 24px;
  &__img {
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0 10px 40px -10px #c5c5c5;
    cursor: pointer;
    &:hover{
      box-shadow: 0 10px 40px -10px #838383;
      transform: scale(1.1);
      transition: .2s ease-in-out;

    }
  }
}
